name: Run Tests

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} on ${{ matrix.os }}
    
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        ruby: ['2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
        
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v6

      - name: Install cURL Headers and Build Dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake perl libclang-dev libcurl4-openssl-dev

      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          
      - name: Run tests
        run: bundle exec rake test
